<div>
  <div class="step">
    <div class="decoration">
      <div class="circle"></div>
      <div class="line"></div>
    </div>

    <div class="content">
      <div class="row gx-2">
        <div class="col-auto">
          <div class="instant">{{ issue().creationInstant | date: 'shortDate' }}</div>
          <div class="status">
            <dm-issue-status status="CREATED" />
          </div>
        </div>
      </div>
    </div>
  </div>

  @for (transition of sortedTransitions(); track transition.transitionInstant) {
    <div class="step">
      <div class="decoration">
        <div class="circle"></div>
        <div class="line"></div>
      </div>

      <div class="content">
        <div class="row gx-2">
          <div class="col-auto">
            <div class="instant">{{ transition.transitionInstant | date: 'shortDate' }}</div>
            <div class="status">
              <dm-issue-status [status]="transition.afterStatus" />
            </div>
          </div>
          <div class="col">
            @if (transition.message) {
              <div class="message">{{ transition.message }}</div>
            }
          </div>
        </div>
      </div>
    </div>
  }
</div>
