@import '../../common';

:host {
  display: block;
}

.step {
  padding: 8px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.decoration {
  position: relative;
}

.step .circle {
  margin-top: 2px;
  background-color: $gray-300;
  border: 2px solid $gray-300;
  border-radius: 100%;
  width: 20px;
  height: 20px;
}

.step .line {
  top: 22px;
  left: 9px;
  height: 100%;
  position: absolute;
  border-left: 2px solid $gray-300;
}

.step:last-child .line {
  display: none;
}

.content {
  flex-grow: 1;
  margin-left: 0.5rem;
}

.instant,
.message {
  font-size: 0.9rem;
}

.instant {
  min-width: 90px;
}
