<val-default-errors>
  <ng-template valError="required" let-label>{{ label || 'Ce champ' }} est obligatoire</ng-template>
  <ng-template valError="email" let-label
    >{{ label || 'Ce champ' }} doit être une adresse courriel valide</ng-template
  >
  <ng-template valError="ngbDate" let-label
    >{{ label || 'Ce champ' }} doit être une date valide, au format jj/MM/aaaa</ng-template
  >
  <ng-template valError="maxlength" let-label let-error="error"
    >{{ label || 'Ce champ' }} ne peut dépasser {{ error.requiredLength }} caractères</ng-template
  >
</val-default-errors>
