@if (organization(); as organization) {
  <div>
    <h1>Mutualisant {{ organization.name }}</h1>

    <h2>Administrateurs</h2>

    <p class="text-body-secondary small">
      Ces administrateurs ont le droit de créer de nouvelles collectivités, et de configurer les
      collectivités de ce mutualisant.
    </p>

    <ul class="list-unstyled ms-4">
      @for (administrator of organization.administrators; track administrator.id) {
        <li class="administrator-item">
          <fa-icon [icon]="icons.administrator" class="me-1" />
          <a [href]="'mailto:' + administrator.email">{{ administrator.email }}</a>
        </li>
      }
    </ul>

    <a [routerLink]="['edit']" class="btn btn-outline-secondary">
      <fa-icon [icon]="icons.edit" class="me-1" />
      Modifier
    </a>
  </div>
}
