<h1>Oubli de mot de passe</h1>

@if (!emailSent()) {
  <div id="formSection">
    <p>Vous avez oublié votre mot de passe&nbsp;? Rien de grave&nbsp;!</p>
    <p>
      Entrez l'adresse courriel qui vous sert d'identifiant, et nous vous enverrons un courriel
      permettant de réinitialiser votre mot de passe.
    </p>

    <div class="border rounded bg-light p-3">
      <div class="row">
        <div class="col col-md-8 offset-md-2">
          <form [formGroup]="form" (ngSubmit)="send()">
            <dm-required-fields-message />
            <div class="mb-3">
              <label class="form-label" for="email" dmRequired>Adresse courriel</label>
              <input formControlName="email" type="email" class="form-control" id="email" />
              <val-errors controlName="email" label="L'adresse courriel" />
            </div>
            <button type="submit" class="btn btn-primary" id="send">Envoyer</button>

            @if (unknownEmail()) {
              <div class="mt-2 text-danger" id="unknownEmail">
                <fa-icon [icon]="icons.error" class="me-1" />
                Aucun utilisateur n'est identifié par cette adresse courriel. Êtes-vous sûr d'être
                inscrit avec cette adresse&nbsp;?
              </div>
            }
          </form>
        </div>
      </div>
    </div>
  </div>
} @else {
  <div class="alert alert-success d-flex" id="successSection">
    <fa-icon [icon]="icons.emailSent" size="3x" class="me-4" />
    <div class="flex-grow-1">
      <div>
        Un courriel vous a été envoyé à l'adresse <code>{{ form.value.email }}</code
        >. Consultez votre boîte aux lettres.
      </div>
      <div class="mt-2">
        <button id="retry" class="btn btn-sm btn-outline-success" (click)="emailSent.set(false)">
          Réessayer
        </button>
      </div>
    </div>
  </div>
}
