<ng-template #targetTemplate let-target="result" let-term="term">
  @switch (target.type) {
    @case ('pooling-organization') {
      <fa-icon [icon]="icons.poolingOrganization" class="me-1" />
    }
    @case ('government') {
      <fa-icon [icon]="icons.government" class="me-1" />
    }
  }
  <ngb-highlight [result]="target.name" [term]="term" />
</ng-template>

<label class="visually-hidden" for="target-selector"
  >Filtrer les collectivités / mutualisants</label
>
<input
  #typeahead
  id="target-selector"
  [formControl]="targetCtrl"
  class="form-control"
  [ngbTypeahead]="targetTypeahead"
  [inputFormatter]="targetFormatter"
  [resultTemplate]="targetTemplate"
  [editable]="false"
  (selectItem)="selectTarget($event)"
  placeholder="Filtrer les collectivités / mutualisants"
/>
<div class="mt-2">
  <!-- do not track by ID: two targets might have the same ID, since targets are a mix of pooling organizations and governments -->
  @for (target of selectedTargets(); track target) {
    <span
      class="issue-target badge bg-secondary ps-2 mb-1 me-1 d-inline-flex align-items-center"
      tabindex="0"
      (keydown.backspace)="removeTarget(target)"
    >
      @switch (target.type) {
        @case ('pooling-organization') {
          <fa-icon [icon]="icons.poolingOrganization" class="me-1" />
        }
        @case ('government') {
          <fa-icon [icon]="icons.government" class="me-1" />
        }
      }
      {{ target.name }}
      <button
        tabindex="-1"
        type="button"
        class="btn btn-sm py-0 ms-1 btn-secondary remove-button"
        (click)="removeTarget(target)"
      >
        <span class="visually-hidden">Enlever {{ target.name }}</span>
        &times;
      </button>
    </span>
  }
</div>
