<html>
<body>
<p>Bonjour.</p>

<p>Vous nous avez remonté, le {{ creationDate }}, l'information suivante&nbsp;:</p>
<p style="margin-left: 2rem">{{ category }}</p>
{{#description}}
<p>
avec la description suivante&nbsp;:
</p>
<blockquote>
{{ description }}
</blockquote>
{{/description}}

{{#resolved}}
<p>Cette remontée d'information a été résolue.</p>
{{/resolved}}
{{#rejected}}
<p>Cette remontée d'information a été rejetée.</p>
{{/rejected}}

{{#message}}
<p>Commentaire de l'agent en charge&nbsp;:</p>
<blockquote style="white-space: pre-line;">
{{ message }}
{{/message}}
</blockquote>

<p>
  Vous recevez ce message parce que vous avez choisi d'être notifié·e par courriel des changements d'état de vos remontées d'information.<br/>
  Vous pouvez modifier cette préférence sur la page <a href="https://{{ host }}/me/account/edit">Mon compte</a>.
</p>

<p>L'équipe DirectMairie - {{ governmentName }}</p>
</body>
</html>
