Bonjour.

Vous nous avez remonté, le {{ creationDate }}, l'information suivante :
  {{ category }}
{{#description}}
avec la description suivante :

{{ description }}
{{/description}}

{{#resolved}}
Cette remontée d'information a été résolue.
{{/resolved}}
{{#rejected}}
Cette remontée d'information a été rejetée.
{{/rejected}}

{{#message}}
Commentaire de l'agent en charge :

{{ message }}
{{/message}}

Note : Vous recevez ce message parce que vous avez choisi d'être notifié·e par courriel des changements d'état de vos remontées d'information.
Vous pouvez modifier cette préférence sur la page "Mon compte" : https://{{ host }}/me/account/edit.

--
L'équipe DirectMairie - {{ governmentName }}
