<dm-navbar />

<main class="container mt-5 flex-shrink-0">
  @if (updatesAvailable()) {
    <div class="alert alert-warning">
      Une nouvelle version de DirectMairie est disponible&nbsp;! Rafraîchissez la page pour en
      profiter.
    </div>
  }
  <dm-error />
  <dm-success />
  <router-outlet />
</main>

<dm-footer class="d-block footer mt-auto" />
<dm-default-error-messages />
