@if (vm(); as vm) {
  <div class="text-center mb-4">
    <h1>Bienvenue dans DirectMairie&nbsp;!</h1>
    <div class="mb-4">
      <img [src]="vm.brandingLogoUrl || '/assets/Logo-DirectMairie.svg'" class="img-fluid" alt="" />
    </div>
    <div>
      <a class="btn btn-primary btn-lg" routerLink="/issue">Remonter une information</a>
    </div>
    @if (vm.currentUser) {
      <div class="mt-4">
        <dm-my-issues />
      </div>
    }
  </div>
}
