@if (vm(); as vm) {
  <div>
    @switch (vm.mode) {
      @case ('create') {
        <h1>Créer une collectivité</h1>
      }
      @case ('update') {
        <h1>
          Modifier la collectivité <em>{{ vm.editedGovernment!.name }}</em>
        </h1>
      }
    }

    <form [formGroup]="governmentForm" (ngSubmit)="save()">
      <dm-required-fields-message />

      <h2 class="mt-4 d-flex align-items-center">
        <span class="badge badge-pill bg-secondary me-1">1</span>
        Informations générales
      </h2>

      <!-- Pooling organization (hidden if only one) -->
      <div
        id="pooling-organization-group"
        class="mb-3"
        [class.d-none]="vm.poolingOrganizations.length === 1"
      >
        <label class="form-label" for="pooling-organization" dmRequired>Mutualisant</label>
        <select
          formControlName="poolingOrganizationId"
          id="pooling-organization"
          class="form-select"
        >
          <option [ngValue]="null"></option>
          @for (org of vm.poolingOrganizations; track org.id) {
            <option [ngValue]="org.id">{{ org.name }}</option>
          }
        </select>
        <val-errors controlName="poolingOrganizationId" label="Le mutualisant" />
      </div>

      <!-- OSM id -->
      <div class="mb-3">
        <label for="osm-id" dmRequired>Identifiant Open Street Map</label>
        <input
          formControlName="osmId"
          id="osm-id"
          type="number"
          class="form-control"
          autocomplete="off"
          (blur)="searchInfoFromOsmId()"
        />
        <small class="form-text text-body-secondary">
          Utilisez <a href="https://nominatim.openstreetmap.org/" target="_blank">Nominatim</a> pour
          rechercher votre collectivité, puis cliquez sur "Details" et copiez le numéro de la
          relation OSM dans le champ (par exemple <code>7378</code> pour le
          <a
            href="https://nominatim.openstreetmap.org/ui/details.html?osmtype=R&osmid=7378&class=boundary"
          >
            Rhône</a
          >)
        </small>
        <val-errors controlName="osmId" label="L'identifiant Open Street Map">
          <ng-template valError="invalidOsmId" let-label>{{ label }} est invalide</ng-template>
        </val-errors>
      </div>

      <!-- Name -->
      <div class="mb-3">
        <label class="form-label" for="name" dmRequired>Nom</label>
        <input formControlName="name" id="name" class="form-control" />
        <!-- Displays the name from OSM only if the osmId is valid and if the name entered is different -->
        @if (isNameHelpDisplayed()) {
          <small id="name-help" class="form-text text-body-secondary">
            Le nom associé à l'identifiant Open Street Map
            <code>{{ lastSearchedOsmId() }}</code> est
            <em>{{ lastSearchedOsmName() }}</em>
          </small>
        }
        <val-errors controlName="name" label="Le nom" />
      </div>

      <!-- Code -->
      <div class="mb-3">
        <label class="form-label" for="code" dmRequired>SIREN</label>
        <input formControlName="code" id="code" class="form-control" />
        <val-errors controlName="code" label="Le SIREN" />
      </div>

      <!-- URL -->
      <div class="mb-3">
        <label class="form-label" for="url">URL</label>
        <input formControlName="url" id="url" type="url" class="form-control" />
        <val-errors controlName="url" label="L'URL">
          <ng-template valError="pattern"
            >L'URL doit être valide (et commencer par <code>http://</code> ou
            <code>https://</code>)</ng-template
          >
        </val-errors>
      </div>

      <!-- Contact email -->
      <div class="mb-3">
        <label class="form-label" for="contactEmail" dmRequired
          >Courriel de contact par défaut</label
        >
        <input type="email" formControlName="contactEmail" id="contactEmail" class="form-control" />
        <small class="form-text text-body-secondary">
          Un courriel est envoyé à cette adresse à chaque nouvelle remontée d'information pour cette
          collectivité, à moins qu'une adresse de contact spécifique soit configurée pour la
          catégorie de la remontée d'information
        </small>
        <val-errors controlName="contactEmail" label="Le courriel de contact par défaut" />
      </div>

      <h2 class="mt-4 d-flex align-items-center">
        <span class="badge badge-pill bg-secondary me-1">2</span>
        Administrateurs
      </h2>

      <!-- Search admin by email -->
      <div class="mb-3">
        <dm-user-selector [(users)]="admins" />
      </div>

      <h2 class="mt-4 d-flex align-items-center">
        <span class="badge badge-pill bg-secondary me-1">3</span>
        Catégories de remontées d'information
      </h2>

      <div class="mb-3">
        @for (group of vm.issueGroups; track group; let groupIndex = $index) {
          <div formArrayName="issueGroupsFormArray" class="mb-2">
            <div [formGroupName]="groupIndex">
              <strong>{{ group.label }}</strong>
              <!-- checkboxes for each category in the group -->
              <div formArrayName="categories" class="ms-4">
                @for (category of group.categories; track category; let categoryIndex = $index) {
                  <div class="form-check" id="issue-category">
                    <input
                      type="checkbox"
                      class="form-check-input category"
                      id="category-{{ category.id }}"
                      [formControlName]="categoryIndex"
                    />
                    <label class="form-check-label" for="category-{{ category.id }}">{{
                      category.label
                    }}</label>
                  </div>
                }
              </div>
              <!-- contact email for the group, displayed only if at least one category is selected -->
              @if (shouldDisplayContact(groupIndex)) {
                <div class="mb-3">
                  <label class="form-label" for="contact-{{ group.id }}"
                    >Courriel à contacter en cas de nouvelle remontée pour la catégorie
                    <em>{{ group.label }}</em></label
                  >
                  <input
                    type="email"
                    formControlName="contact"
                    id="contact-{{ group.id }}"
                    class="form-control contact"
                  />
                  <small class="text-body-secondary form-text">
                    Si laissé vide, l'adresse de contact par défaut sera utilisée pour les remontées
                    d'information de la catégorie
                    <em>{{ group.label }}</em>
                  </small>
                  <val-errors controlName="contact" label="L'adresse courriel de contact" />
                </div>
              }
            </div>
          </div>
        }
      </div>

      <div class="mt-2 mb-5">
        <button id="submit" class="btn btn-primary me-2" [disabled]="validatingOsmId()">
          Enregistrer
        </button>
        <a id="cancel" routerLink=".." class="btn btn-danger">Annuler</a>
      </div>
    </form>
  </div>
}
