@if (vm(); as vm) {
  <div>
    <h2>Mes dernières remontées</h2>
    <div class="row">
      <div class="mt-4 col-xl-10 offset-xl-1">
        <!-- displayed as a list group, with each item being a button -->
        <div class="list-group">
          <!-- clicking on the button expands or collapses the issue (and collapses the others) -->
          @for (issue of vm.issues; track issue.id) {
            <button
              class="list-group-item list-group-item-action issue"
              (click)="toggleSubject.next(issue)"
            >
              <div [id]="'issue-' + issue.id">
                <!-- category and status -->
                <div class="row">
                  @if (issue.category) {
                    <div class="col-9 text-start category">
                      {{ issue.category.label }}
                    </div>
                  }
                  <div class="col-3 text-end">
                    <dm-issue-status class="issue-status" [status]="issue.status" />
                  </div>
                </div>
                <div class="text-start">
                  <!-- description (truncated if too long and not expanded) -->
                  @if (issue !== vm.expandedIssue) {
                    <small class="description">{{ getTruncatedDescription(issue) }}</small>
                  }
                  <div [ngbCollapse]="issue !== vm.expandedIssue" class="pictures-and-map">
                    <!-- details shown only when expanded -->
                    <div class="row">
                      <div class="col-md-6">
                        <small class="description">{{ issue.description }}</small>
                        @if (issue.transitions.length) {
                          <dm-issue-transitions [issue]="issue" />
                        }
                      </div>
                      <div class="col-md-6">
                        <!-- only create the map for the expanded issue -->
                        <!-- we stop the propagation of the click on the map, as it would collapse the issue -->
                        @if (issue === vm.expandedIssue) {
                          <div
                            class="map my-3"
                            leaflet
                            [leafletOptions]="vm.mapOptions"
                            [leafletFitBounds]="vm.mapFitBounds!"
                            [leafletLayers]="vm.mapMarkers"
                            (click)="$event.stopPropagation()"
                          ></div>
                        }
                      </div>
                    </div>
                    <!-- pictures -->
                    <div class="row">
                      @for (picture of issue.pictures; track picture.id) {
                        <div class="col-sm-6 col-md-4 mb-2 picture d-flex justify-content-center">
                          <!-- clicking on a picture  displays it fullscreen -->
                          <!-- we stop the propagation of the click, as it would collapse the issue -->
                          <img
                            #img
                            [src]="url(issue, picture)"
                            class="img-fluid img-thumbnail"
                            [alt]="'Photo créée ' + fromNow(picture.creationInstant)"
                            (click)="img.requestFullscreen(); $event.stopPropagation()"
                          />
                        </div>
                      }
                    </div>
                  </div>
                </div>
                <!-- creation instant, humanized as a relative time -->
                <div class="text-body-secondary text-end bg-transparent creation-instant">
                  <small>{{ fromNow(issue.creationInstant) }}</small>
                </div>
              </div>
            </button>
          }
        </div>
      </div>
    </div>
  </div>
}
