<h1>Réinitialisation de mot de passe</h1>

<p>Saisissez et confirmez votre nouveau mot de passe ci-dessous.</p>

<div class="border rounded bg-light p-3">
  <div class="row">
    <div class="col col-md-8 offset-md-2">
      <form [formGroup]="form" (ngSubmit)="changePassword()">
        <dm-required-fields-message />
        <div class="mb-3">
          <label class="form-label" for="password" dmRequired>Mot de passe</label>
          <input formControlName="password" type="password" class="form-control" id="password" />
          <val-errors controlName="password" label="Le mot de passe" />
        </div>
        <div class="mb-3">
          <label class="form-label" for="passwordConfirmation" dmRequired
            >Confirmez votre mot de passe</label
          >
          <input
            formControlName="passwordConfirmation"
            type="password"
            class="form-control"
            id="passwordConfirmation"
          />
          <val-errors controlName="passwordConfirmation" label="La confirmation du mot de passe" />
          <val-errors [control]="form">
            <ng-template valError="passwordsMatch"
              >Les deux mots de passe ne sont pas identiques</ng-template
            >
          </val-errors>
        </div>
        <button type="submit" class="btn btn-primary" id="save">Enregistrer</button>

        @if (invalidToken()) {
          <div class="mt-2 text-danger" id="invalidToken">
            <fa-icon [icon]="icons.error" class="me-1" />
            Le lien utilisé pour arriver sur cette page n'est pas ou plus valide.<br />
            <a routerLink="/lost-password">Demandez un nouveau lien</a>&nbsp;!
          </div>
        }
      </form>
    </div>
  </div>
</div>
