<ng-template #resultTemplate let-user="result" let-t="term">
  <ng-container>
    <ngb-highlight [result]="user.email" [term]="t" />
  </ng-container>
</ng-template>

<label class="form-label" for="adminEmail">Ajouter un administrateur par son courriel</label>
<input
  id="adminEmail"
  #typeahead
  type="email"
  class="form-control"
  [formControl]="control"
  [ngbTypeahead]="searchUserByEmail$"
  (selectItem)="selectUser($event)"
  [resultTemplate]="resultTemplate"
  container="body"
/>
<small class="form-text text-body-secondary">
  Le courriel entré identifie l'administrateur, mais aucun courriel ne sera envoyé à cet adresse.
</small>
<div class="mt-2">
  @for (user of users(); track user.id) {
    <span
      class="user badge bg-secondary ps-2 mb-1 me-1 d-inline-flex align-items-center"
      tabindex="0"
      (keydown.backspace)="removeUser(user); $event.stopPropagation()"
      ><fa-icon [icon]="icons.administrator" class="me-1" />{{ user.email }}
      <button
        tabindex="-1"
        type="button"
        class="btn btn-sm py-0 ms-1 btn-secondary remove-button"
        (click)="removeUser(user); $event.stopPropagation()"
      >
        <span class="visually-hidden">Enlever {{ user.email }}</span
        >&times;
      </button>
    </span>
  }
</div>
