@if (vm(); as vm) {
  <div class="alert alert-success">
    <h1 class="text-center">
      <fa-icon [icon]="icons.thumbsUp" />
      Merci&nbsp;!
    </h1>
  </div>

  @if (governmentLogoUrl(); as url) {
    <div class="d-flex justify-content-center mt-4">
      <ng-template #logo>
        <img
          id="logo"
          class="logo d-block mb-2"
          [src]="url"
          [alt]="issue().assignedGovernment!.name"
        />
      </ng-template>
      @if (issue().assignedGovernment!.url) {
        <a id="government-logo-link" [href]="issue().assignedGovernment!.url">
          <ng-container *ngTemplateOutlet="logo" />
        </a>
      } @else {
        <ng-container *ngTemplateOutlet="logo" />
      }
    </div>
  }

  <div id="thank-you" class="col text-center mt-4">
    <p>
      La collectivité
      @if (issue().assignedGovernment!.url) {
        <a id="government-link" [href]="issue().assignedGovernment!.url">
          <em>{{ issue().assignedGovernment!.name }}</em>
        </a>
      } @else {
        <em>{{ issue().assignedGovernment!.name }}</em>
      }

      vous remercie pour cette remontée d'information.
    </p>

    @if (isAuthenticated) {
      @if (vm.canSubscribe) {
        <div>
          <dm-subscription-after-submission
            [government]="issue().assignedGovernment!"
            (done)="subscriptionDone()"
          />
        </div>
      } @else {
        <a class="btn btn-outline-secondary" routerLink="/">Retour à la page d'accueil</a>
      }
    }
  </div>

  <!-- If the user is not logged in, offer to sign in/sign up -->
  @if (!isAuthenticated) {
    <div>
      <p class="mt-4">
        Vous l'avez soumise de manière anonyme.<br />
        Si vous désirez être notifié·e des suites données à cette remontée d'information, il est
        encore temps de vous identifier.
      </p>
      <div class="row">
        <div class="col-md mt-2">
          <div class="card text-center">
            <div class="card-body">
              <p class="card-text">J'ai déjà un compte.</p>
              <div class="d-grid">
                <button id="authenticate" class="btn btn-primary" (click)="authenticate()">
                  Je m'identifie
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md mt-2">
          <div class="card text-center">
            <div class="card-body">
              <p class="card-text">Je n'ai pas encore de compte.</p>
              <div class="d-grid">
                <button id="register" class="btn btn-primary" (click)="register()">
                  Je m'inscris
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md mt-2">
          <div class="card text-center">
            <div class="card-body">
              <p class="card-text">Non merci.</p>
              <div class="d-grid">
                <a id="anonymous" class="btn btn-primary" routerLink="/"
                  >Je préfère rester anonyme</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  }
}
