<h1>Collectivités</h1>

<form [formGroup]="form" (ngSubmit)="search()" class="mb-4">
  <label class="visually-hidden" for="query">Nom ou SIREN</label>
  <div class="input-group">
    <input
      formControlName="query"
      class="form-control"
      id="query"
      placeholder="Rechercher (nom ou SIREN)"
    />
    <button id="search" class="btn btn-primary">Rechercher</button>
  </div>
</form>

@if (governmentPage(); as governmentPage) {
  <div>
    <div class="d-flex align-items-baseline justify-content-end mb-3">
      @if (governmentPage.totalElements) {
        <div class="flex-grow-1">
          <div id="resume" class="text-body-secondary small">
            Résultats {{ governmentPage | pageFirstIndex | number }} à
            {{ governmentPage | pageLastIndex | number }} sur
            {{ governmentPage.totalElements | number }}
          </div>
        </div>
      }
      <div>
        <a routerLink="new" class="btn btn-sm btn-outline-secondary">
          <fa-icon [icon]="icons.add" class="me-1" />
          Nouvelle collectivité
        </a>
      </div>
    </div>

    @for (government of governmentPage.content; track government.id) {
      <div [class.border-bottom]="!$last">
        <div class="row align-items-baseline py-2 government-item">
          <div class="col-md-4">
            <a [routerLink]="[government.id]">{{ government.name }}</a>
          </div>
          <div class="col-md-3">{{ government.code }}</div>
          <div class="col-md-4">
            <a
              [href]="'https://www.openstreetmap.org/relation/' + government.osmId"
              target="openstreetmap"
              >osm id {{ government.osmId }}</a
            >
          </div>
          <div class="col-md-1 text-end">
            <a [routerLink]="[government.id]">
              <fa-icon [icon]="icons.view" />
            </a>
          </div>
        </div>
      </div>
    }

    @if (governmentPage.totalPages > 1) {
      <div class="d-flex justify-content-center mt-4">
        <!-- we add 1 to the page because ngb-pagination is 1 based -->
        <ngb-pagination
          [page]="governmentPage.number + 1"
          (pageChange)="navigateToPage($event)"
          [collectionSize]="governmentPage.totalElements"
          [pageSize]="governmentPage.size"
          [maxSize]="maxPaginationSize"
          [boundaryLinks]="true"
          [ellipses]="false"
          size="sm"
        />
      </div>
    }
  </div>
}
