<ul class="nav nav-pills" dmRouterNav #nav="dmRouterNav">
  <li class="nav-item">
    <a routerLink="account" routerLinkActive="active" dmRouterNavLink>
      <fa-icon [icon]="icons.currentUser" class="me-1" /> Mon compte
    </a>
  </li>
  <li class="nav-item">
    <a routerLink="subscriptions" routerLinkActive="active" dmRouterNavLink>
      <fa-icon [icon]="icons.subscriptions" class="me-1" /> Mes abonnements
    </a>
  </li>
</ul>

<div [dmRouterNavPanel]="nav">
  <router-outlet />
</div>
