<h1>Envoyer une alerte</h1>

@if (vm(); as vm) {
  @if (vm.state === 'sent') {
    <div class="alert alert-success d-flex" id="sent-section">
      <fa-icon [icon]="icons.send" size="3x" class="me-4" />
      <div class="flex-grow-1">
        <p>
          L'alerte est en cours d'envoi à tous les abonnés de
          {{ form.controls.government.value!.name }}.
        </p>
      </div>
    </div>
  } @else {
    <div class="border rounded bg-light p-3">
      <div class="row">
        <div class="col col-md-8 offset-md-2">
          <form [formGroup]="form" (ngSubmit)="send()">
            <dm-required-fields-message />
            @if (!vm.uniqueGovernment) {
              <div class="mb-3">
                <label class="form-label" for="government" dmRequired>
                  Envoyer une alerte aux abonnés de la collectivité
                </label>
                <input
                  formControlName="government"
                  class="form-control"
                  id="government"
                  [ngbTypeahead]="governmentTypeahead"
                  [editable]="false"
                  [inputFormatter]="governmentFormatter"
                  [resultFormatter]="governmentFormatter"
                />
                <val-errors controlName="government" label="La collectivité" />
              </div>
            } @else {
              <p>
                Envoyer une alerte aux abonnés de <em>{{ vm.uniqueGovernment!.name }}</em>
              </p>
            }
            <div class="mb-3">
              <label class="form-label" for="subject" dmRequired>Sujet</label>
              <input formControlName="subject" class="form-control" id="subject" />
              <val-errors controlName="subject" label="Le sujet" />
            </div>
            <div class="mb-3">
              <label class="form-label" for="message" dmRequired>Message</label>
              <textarea
                formControlName="message"
                class="form-control"
                id="message"
                rows="5"
              ></textarea>
              <div class="row">
                <div class="col">
                  <val-errors controlName="message" label="Le message" />
                </div>
                <div
                  class="col-auto form-text"
                  [class]="
                    form.controls.message.value.length <= maxMessageLength
                      ? 'text-body-secondary'
                      : 'text-danger'
                  "
                >
                  {{ form.controls.message.value.length | number }} /
                  {{ maxMessageLength | number }}
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="subject">URL pour en savoir plus</label>
              <input formControlName="url" class="form-control" id="url" />
              <val-errors controlName="url" label="L'URL">
                <ng-template valError="pattern">L'URL est invalide</ng-template>
              </val-errors>
            </div>
            <div>
              <button
                type="submit"
                class="btn btn-primary me-2"
                id="send"
                [disabled]="vm.state === 'sending'"
              >
                @if (vm.state !== 'sending') {
                  <fa-icon [icon]="icons.send" />
                } @else {
                  <span
                    id="sendingSpinner"
                    class="spinner-border spinner-border-sm"
                    role="status"
                    aria-hidden="true"
                  ></span>
                }
                Envoyer
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  }
}
