<h1>Politique de confidentialité</h1>

<h2>Présentation du service</h2>
<p>
  L'application DirectMairie est un service de remontée d'information citoyenne, permettant
  d'effectuer un signalement géolocalisé (dépôt sauvage d'encombrants, éclairage public défaillant,
  nid de poule, etc.) depuis un téléphone mobile ou un ordinateur de bureau auprès de sa
  collectivité; de manière anonyme ou non.
</p>

<h2>Données à caractère personnel</h2>
<p>
  La charte de protection des données détaille la manière dont nous collectons, gérons et traitons
  vos données à caractère personnel. Cette charte clarifie vos droits et vous permet de gérer vos
  préférences conformément au règlement relatif à la protection des personnes physiques à l'égard
  des données à caractère personnel et à la libre circulation de ces données, dit RGPD, règlement
  n°2016-679 en complément de la loi n°78-17 du 6 janvier 1978 modifiée relative à l'informatique,
  aux fichiers et aux libertés.
</p>
<p>Les données collectées par l'application sont les suivantes&nbsp;:</p>
<ul>
  <li>
    informations relatives à l'identité dans le cadre d'une inscription d'un citoyen au service
    (facultatif)
  </li>
  <li>géolocalisation d'un citoyen (facultatif)</li>
  <li>photographies (facultatives)</li>
</ul>

<h3>Inscription d'un citoyen (facultatif)</h3>
<p>
  Selon le choix de l'utilisateur, celui-ci est amené à pouvoir créer un compte afin de pouvoir
  suivre ses signalements (qui reste toutefois facultatif pour remonter une information sans suivi).
  A ce compte-là, l'application va collecter des informations personnelles le concernant qui seront
  conservées dans une base de données sécurisée.
</p>
<p>Les informations demandées à la création d'un compte sont les suivantes&nbsp;:</p>
<ul>
  <li>adresse mail</li>
  <li>nom (facultatif)</li>
  <li>prénom (facultatif)</li>
  <li>numéro de téléphone (facultatif)</li>
</ul>
<p>
  Les informations saisies permettent uniquement le suivi des signalements par son créateur. Dans
  l'instance DirectMairie de l'Adullact, la collectivité n'est actuellement pas en mesure d'avoir
  accès aux informations relatives aux citoyens. Les informations sont stockées chez OVH France
  (Hébergeur de l'Adullact).
</p>

<h3>Permissions demandées par l'application mobile</h3>

<h4>Utilisation de l'appareil photo</h4>
<p>
  Nous utilisons uniquement l'appareil photo pour prendre en photo l'événement et illustrer le
  signalement. Si vous souhaitez modifier l'accès ou les autorisations, vous pouvez le faire dans
  les paramètres de votre appareil. La photo est transmise uniquement au Serveur.
</p>

<h4>Position</h4>
<p>
  DirectMairie peut demander un accès ou une autorisation et suivre les informations basées sur la
  localisation de votre appareil mobile, de manière continue ou pendant que vous utilisez
  l'application pour fournir des services basés sur la localisation Open Street Map.
  <a href="https://wiki.osmfoundation.org/wiki/Privacy_Policy"
    >Cliquez ici pour voir la politique de confidentialité OpenStreetMap</a
  >.
</p>
<p>
  Si vous souhaitez modifier votre accès ou vos autorisations, vous pouvez le faire dans les
  paramètres de votre appareil.
</p>

<h3>Cookies</h3>
<p>
  DirectMairie a une volonté de limiter leur utilisation uniquement au strict nécessaire.<br />Ces
  cookies sont essentiels pour vous permettre de naviguer dans notre application et d'utiliser ses
  fonctionnalités.<br />Sans ces cookies, des services tels que l'utilisation et l'ajout de puces
  sur la carte OpenStreetMap et ne peuvent être fournis.
</p>
<h2>Traitement des données à caractère personnel</h2>

<p>
  L'Adullact est responsable de l'administration générale de la plateforme. Elle tient le Service à
  la disposition des collectivités utilisatrices.
</p>
<p>
  Elle transmet toutes les informations nécessaires pour la mise en œuvre opérationnelle du Service
  par la collectivité.
</p>
<p>
  Elle met à la disposition de la collectivité les fonctionnalités qui permettent d'enrôler les
  administrateurs et les instructeurs.
</p>
<p>
  Elle est responsable de la création des comptes administrateurs préalablement validés par la
  collectivité et de la suppression des comptes utilisateurs.
</p>
<p>
  Elle met à disposition de la collectivité un tableau de bord afin de lui permettre de suivre le
  traitement des signalements la concernant.
</p>

<h2>Conservation des données</h2>
<p>
  Les données concernant les utilisateurs inscrits sont conservées sur le serveur OVH mais ne sont
  pas publiées dans l'application. Seul l'utilisateur a accès aux informations relatives à son
  compte. L'utilisateur peut également modifier de lui même les informations relatives à celui-ci,
  de manière autonome et à tout moment via l'application dans le menu "Mon compte".
</p>

<h3>Suppression du compte</h3>
<p>
  L'utilisateur inscrit sur DirectMairie peut, de manière autonome et à tout moment, supprimer de
  lui-même son compte directement via l'application dans le menu "Mon compte".
</p>

<h3>Vos droits et informations</h3>
<p>
  Vous pouvez demander l'accès à vos données personnelles en exerçant votre droit d'accès. Si des
  données sont erronées ou obsolètes, vous pouvez exercer votre droit de rectification pour les
  mettre à jour. Vous pouvez exercer votre droit à l'oubli pour effacer vos données conformément à
  la législation en vigueur ou exercer votre droit à la limitation et à la portabilité. Néanmoins,
  nous ne pourrons pas effacer les données soumises à une contrainte réglementaire nous imposant
  leur conservation sur une période donnée.
</p>
<p>En vérifiant dans l'application DirectMairie via le menu "Mon compte"</p>
<p>
  En écrivant un courrier électronique à l'adresse
  <a href="mailto:contact@adullact.org">contact&#64;adullact.org</a>
</p>
<p>
  En rédigeant un courrier à l'adresse postale « ADULLACT, 5 rue du Plan du Palais 34000 MONTPELLIER
  »
</p>
<p>En appelant au 04 67 65 05 88 (prix d'un appel local)</p>
<p>
  Conformément à la législation, nous nous permettons de rejeter les demandes déraisonnables ou dont
  l'acceptation n'est pas exigée par la loi, notamment celles qui seraient difficiles à mettre en
  place, qui exigeraient un effort technique disproportionné ou qui pourraient occasionner des
  fraudes.
</p>

<h2>Liens externes</h2>
<p>L'application DirectMairie de l'Adullact peut inclure des liens vers d'autres sites.</p>
