@let issue = this.issue();
@let issueGroups = this.issueGroups();
@let loadingCategories = this.loadingCategories();
@let accessToken = this.accessToken();

@if (mode() === 'creation') {
  <div>
    <h1>Remonter une information</h1>

    <h2 class="mt-4 d-flex align-items-center">
      <span class="badge badge-pill bg-secondary me-1">1</span>
      Localiser le problème
    </h2>

    <dm-coordinates-selection (coordinatesSelected)="coordinatesSelected($event)" />

    @if ((!issue || !issueGroups) && loadingCategories) {
      <div id="loadingCategoriesSpinner" class="mt-4 d-flex justify-content-center">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Chargement en cours...</span>
        </div>
      </div>
    }

    @if (issue && issueGroups) {
      <div>
        <form [formGroup]="issueForm" (ngSubmit)="submitIssue()">
          <dm-required-fields-message class="mt-4" />
          <h2 class="mt-4 d-flex align-items-center">
            <span class="badge badge-pill bg-secondary me-1">2</span>
            <dm-required>Sélectionner la catégorie de problème</dm-required>
          </h2>

          @if (noCategory()) {
            <div class="text-danger" id="noCategoryError">
              <fa-icon [icon]="icons.error" />
              Le service de remontée d'information n'est pas ouvert pour l'emplacement choisi.
              N'hésitez pas à contacter votre mairie.
            </div>
          } @else {
            <div class="mb-3">
              <label for="category" class="visually-hidden">Catégorie de problème</label>
              <select formControlName="categoryId" id="category" class="form-control custom-select">
                <option [ngValue]="null"></option>
                @for (group of issueGroups; track group.id) {
                  <optgroup [label]="group.label">
                    @for (category of group.categories; track category.id) {
                      <option [ngValue]="category.id">
                        {{ category.label }}
                      </option>
                    }
                  </optgroup>
                }
              </select>
              <val-errors controlName="categoryId" label="La catégorie du problème" />
            </div>
          }

          <h2 class="mt-4 d-flex align-items-center">
            <span class="badge badge-pill bg-secondary me-1">3</span>
            @if (descriptionRequired()) {
              <dm-required id="descriptionRequiredMarker">Décrire le problème</dm-required>
            } @else {
              Décrire le problème
            }
          </h2>
          <div class="mb-3">
            <div class="mb-2 row gx-3">
              <div class="col-auto fs-3 text-warning">
                <fa-icon [icon]="icons.warning" />
              </div>
              <div class="col">
                <div class="form-text text-body-secondary">
                  Vous allez saisir dans cette zone des informations qui pourraient contenir des
                  données à caractère personnel.<br />
                  Ces informations seront transmises pour traitement auprès de votre collectivité
                  par mail et ce de manière non protégée.
                </div>
                <div>
                  <div [ngbCollapse]="descriptionAcknowledged">
                    <button
                      id="description-acnowledgment-button"
                      type="button"
                      class="btn btn-sm btn-secondary"
                      (click)="acknowledgeDescription()"
                    >
                      J'ai compris
                    </button>
                  </div>
                  <val-errors controlName="descriptionAcknowledgement">
                    <ng-template valError="required">
                      Votre accord est indispensable pour continuer
                    </ng-template>
                  </val-errors>
                </div>
              </div>
            </div>

            <label for="description" class="visually-hidden">Description</label>
            <textarea
              formControlName="description"
              id="description"
              class="form-control"
              style="height: 6rem"
            ></textarea>
            <small class="form-text text-body-secondary"
              >Donnez toutes les informations utiles permettant de comprendre et trouver le
              problème.
            </small>
            <val-errors controlName="description" label="La description du problème" />
          </div>

          <h2 class="mt-4 d-flex align-items-center">
            <span class="badge badge-pill bg-secondary me-1">4</span>
            Ajouter des photos
          </h2>

          <dm-pictures [issue]="issue" [accessToken]="accessToken!" />

          <button
            id="submit"
            class="btn btn-primary btn-lg w-100 mt-2 mb-5"
            [disabled]="loadingCategories"
          >
            <fa-icon [icon]="icons.submitIssue" />
            Envoyer les informations
          </button>
        </form>
      </div>
    }
  </div>
}

<!-- Thank you for submitting an issue -->
@if (mode() === 'success') {
  <div>
    <dm-thank-you [issue]="issue!" [accessToken]="accessToken!" />
  </div>
}
