<html>
<body>
<p style="white-space: pre-line;">{{ message }}</p>
{{#url}}
<p>
  <a href="{{ url }}">Cliquez ici pour en savoir plus.</a>
</p>
{{/url}}

<p>
  Vous recevez ce message parce que vous avez choisi de vous abonner aux notification envoyées par <em>{{ governmentName }}</em>.<br/>
  Vous pouvez vous désabonner en supprimant cet abonnement sur la page <a href="https://{{ host }}/me/subscriptions">Mes abonnements</a>.
</p>

<p>L'équipe DirectMairie - {{ governmentName }}</p>
</body>
</html>
