{{ message }}

{{#url}}
Pour en savoir plus : {{ url }}.
{{/url}}

Note : vous recevez ce message parce que vous avez choisi de vous abonner aux notification envoyées par {{ governmentName }}.
Vous pouvez vous désabonner en supprimant cet abonnement sur la page "Mes abonnements" : https://{{ host }}/me/subscriptions.

--
L'équipe DirectMairie - {{ governmentName }}
