Nouvelle remontée d'information #{{ id }} dans la catégorie {{ category }}
{{#description}}
Voici la description remontée par le citoyen :

{{ description }}

{{/description}}
Pour plus de détails : https://{{ host }}/admin/issues

--
L'équipe DirectMairie
