<html>
<body>
  <h1>Nouvelle remontée d'information #{{ id }}</h1>
  <p><strong>Catégorie&nbsp;:</strong> {{ category }}</p>

  {{#description}}
    <p><strong>Description remontée par le citoyen&nbsp;:</strong></p>

    <p style="white-space: pre-line;">{{ description }}</p>
  {{/description}}

  <p><a href="https://{{ host }}/admin/issues">Plus de détails</a></p>

  <p>L'équipe DirectMairie</p>
</body>
</html>
