<h1>Inscription</h1>
@let user = this.user();
@if (!user) {
  <div id="formSection">
    <p>
      Pour vous enregistrer dans DirectMairie, veuillez saisir votre adresse courriel et choisir un
      mot de passe.
    </p>

    <p>
      L'adresse courriel vous servira d'identifiant. Un message vous sera envoyé à cette adresse
      pour que vous confirmiez votre inscription.
    </p>

    <div class="border rounded bg-light p-3">
      <form [formGroup]="form" (ngSubmit)="register()">
        <dm-required-fields-message />
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="mb-3">
              <label class="form-label" for="email" dmRequired>Adresse courriel</label>
              <input formControlName="email" type="email" class="form-control" id="email" />
              <small id="emailHelp" class="form-text text-body-secondary">
                Nous ne divulguons cette adresse à personne
              </small>
              <val-errors controlName="email" label="L'adresse courriel" />
            </div>
            <div class="mb-3">
              <label class="form-label" for="password" dmRequired>Mot de passe</label>
              <input
                formControlName="password"
                type="password"
                class="form-control"
                id="password"
              />
              <val-errors controlName="password" label="Le mot de passe" />
            </div>
            <div class="mb-3">
              <label class="form-label" for="passwordConfirmation" dmRequired
                >Confirmez votre mot de passe</label
              >
              <input
                formControlName="passwordConfirmation"
                type="password"
                class="form-control"
                id="passwordConfirmation"
              />
              <val-errors
                controlName="passwordConfirmation"
                label="La confirmation du mot de passe"
              />
              <val-errors [control]="form">
                <ng-template valError="passwordsMatch"
                  >Les deux mots de passe ne sont pas identiques</ng-template
                >
              </val-errors>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="mb-3">
              <label class="form-label" for="firstName">Prénom</label>
              <input formControlName="firstName" class="form-control" id="firstName" />
            </div>
            <div class="mb-3">
              <label class="form-label" for="lastName">Nom</label>
              <input formControlName="lastName" class="form-control" id="lastName" />
            </div>
            <div class="mb-3">
              <label class="form-label" for="phone">N° de téléphone mobile</label>
              <input formControlName="phone" class="form-control" id="phone" />
              <small class="form-text text-body-secondary">
                Si vous nous fournissez votre numéro, la collectivité chargée de gérer vos remontées
                d'information pourra vous informer de l'avancement par SMS, ou vous recontacter pour
                plus d'informations.
              </small>
            </div>
            <div class="mb-3">
              <div class="form-check form-switch">
                <input
                  formControlName="issueTransitionNotificationActivated"
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="issue-transition-notification-activated"
                />
                <label class="form-check-label" for="issue-transition-notification-activated"
                  >Je désire être notifié·e par courriel des changements d'état de mes remontées
                  d'information</label
                >
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" id="register">S'inscrire</button>

        @if (alreadyRegistered()) {
          <div class="mt-2 text-danger" id="alreadyRegistered">
            <fa-icon [icon]="icons.error" class="me-1" />
            Vous êtes déjà inscrit. Peut-être voulez-vous
            <a routerLink="/authentication">vous identifier</a>?
          </div>
        }
      </form>
    </div>
  </div>
} @else {
  <div class="alert alert-success d-flex" id="successSection">
    <fa-icon [icon]="icons.emailSent" size="3x" class="me-4" />
    <div class="flex-grow-1">
      <div>
        Un courriel vous a été envoyé à l'adresse <code>{{ user.email }}</code
        >. Consultez votre boîte aux lettres.
      </div>
      <div class="mt-2">
        <button id="retry" class="btn btn-sm btn-outline-success" (click)="this.user.set(null)">
          Réessayer
        </button>
      </div>
    </div>
  </div>
}
