@import "../../common";

:host {
  position: fixed;
  z-index: 500;
}

.success-container {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  .toast {
    background-color: $dark;
    color: $white;
  }
}
