<div aria-live="polite" aria-atomic="true" style="position: relative">
  @if (error(); as error) {
    <div class="toast-container">
      <div class="toast show">
        <div class="toast-header text-warning">
          <fa-icon [icon]="icons.frown" />
          <strong class="ms-2 me-auto">Erreur</strong>
          <button
            type="button"
            class="ms-2 mb-1 btn-close"
            aria-label="Fermer"
            (click)="closeError()"
          ></button>
        </div>
        <div class="toast-body">
          @if (error.functional) {
            <div id="functional-error-message">
              {{ error.message }}
            </div>
          } @else {
            <div>
              @if (error.status === 401) {
                <p>Vous avez été déconnecté·e</p>
              } @else {
                <p>
                  Une erreur inattendue s'est produite.<br />
                  Tentez de rafraîchir la page, ou réessayez plus tard.<br />
                </p>
                @if (error.status) {
                  <small id="technical-error-status"> Statut&nbsp;: {{ error.status }} </small>
                }
                @if (error.message) {
                  <small id="technical-error-message"> Message&nbsp;: {{ error.message }} </small>
                }
              }
            </div>
          }
        </div>
      </div>
    </div>
  }
</div>
