<h1>Remontées d'information</h1>

@if (vm(); as vm) {
  <div>
    <div class="row">
      <div class="col-md-6 d-flex flex-column">
        <div>
          <dm-issue-target-selector
            [selectedTargets]="vm.selectedTargets"
            (selectedTargetsChange)="selectedTargetsChanged($event)"
          />
        </div>
        <div class="flex-shrink-0">
          <div class="d-sm-flex justify-content-center mt-2">
            <dm-status-filter
              [statusFilter]="vm.statusFilter"
              (statusFilterChange)="selectStatus($event)"
            />
          </div>
          @if (vm.issues.totalElements) {
            <div>
              <div id="resume" class="text-body-secondary small mb-3">
                Résultats {{ vm.issues | pageFirstIndex | number }} à
                {{ vm.issues | pageLastIndex | number }} sur {{ vm.issues.totalElements | number }}
              </div>
            </div>
          }
          @if (vm.issues.totalPages > 1) {
            <div class="d-md-flex justify-content-center mt-2">
              <!-- we add 1 to the page because ngb-pagination is 1 based -->
              <ngb-pagination
                [page]="vm.issues.number + 1"
                (pageChange)="navigateToPage($event)"
                [collectionSize]="vm.issues.totalElements"
                [pageSize]="vm.issues.size"
                [maxSize]="maxSize"
                [boundaryLinks]="true"
                [ellipses]="false"
                size="sm"
              />
            </div>
          }
          <div class="issues">
            @for (issue of vm.issues.content; track issue.id) {
              <div
                [class.pt-1]="!$first"
                [class.pb-1]="!$last"
                (mouseenter)="markIssue(issue)"
                (mouseleave)="resetMarkers()"
              >
                <dm-issue
                  [issue]="issue"
                  [selected]="vm.selectedIssue === issue"
                  (statusUpdated)="statusUpdated(issue, $event)"
                  (deleted)="issueDeleted()"
                />
              </div>
            }
          </div>
          @if (!vm.issues.totalElements) {
            <div id="no-issues" class="mt-3">Pas de remontées d'information</div>
          }
        </div>
      </div>
      <div class="col-md-6 mt-2 mt-md-0">
        <div
          id="map"
          class="mt-3"
          leaflet
          [leafletOptions]="mapOptions"
          [leafletFitBounds]="vm.mapFitBounds"
          [leafletLayers]="vm.mapMarkers"
        ></div>
      </div>
    </div>
  </div>
}
