@switch (status()) {
  @case ('authenticating') {
    <h1>Identification</h1>

    <div class="border rounded bg-light p-3">
      <div class="row">
        <div class="col col-md-8 offset-md-2">
          <form [formGroup]="form" (ngSubmit)="login()">
            <dm-required-fields-message />
            <div class="mb-3">
              <label class="form-label" for="email" dmRequired>Adresse courriel</label>
              <input formControlName="email" type="email" class="form-control" id="email" />
              <val-errors controlName="email" label="L'adresse courriel" />
            </div>
            <div class="mb-3">
              <label class="form-label" for="password" dmRequired>Mot de passe</label>
              <input
                formControlName="password"
                type="password"
                class="form-control"
                id="password"
              />
              <val-errors controlName="password" label="Le mot de passe" />
            </div>
            <div>
              <button type="submit" class="btn btn-primary me-2" id="login">S'identifier</button>
              <a class="small" routerLink="/lost-password">Mot de passe oublié&nbsp;?</a>
            </div>
            @if (authenticationFailed()) {
              <div class="mt-2 text-danger" id="authenticationFailed">
                <fa-icon [icon]="icons.error" class="me-1" />
                Adresse courriel et/ou mot de passe incorrect
              </div>
            }
          </form>
        </div>
      </div>
    </div>
  }
  @case ('subscribing') {
    <div class="row">
      <h1 class="visually-hidden">Identification réussie</h1>
      <div class="col col-md-8 offset-md-2">
        <dm-subscription-after-submission
          [government]="suggestedSubscriptionGovernment()!"
          (done)="subscriptionDone()"
        />
      </div>
    </div>
  }
}
