<h1>Exporter des remontées d'information</h1>

<div class="border rounded bg-light p-3">
  <div class="row">
    <div class="col col-md-8 offset-md-2">
      <form [formGroup]="form" (ngSubmit)="export()">
        <dm-required-fields-message />
        <div class="mb-3">
          <label class="form-label" for="from" dmRequired>Du</label>
          <dm-datepicker-container>
            <input formControlName="from" ngbDatepicker class="form-control" id="from" />
          </dm-datepicker-container>
          <val-errors controlName="from" label="La date de début" />
        </div>
        <div class="mb-3">
          <label class="form-label" for="to" dmRequired>au</label>
          <dm-datepicker-container>
            <input formControlName="to" ngbDatepicker class="form-control" id="to" />
          </dm-datepicker-container>
          <val-errors controlName="to" label="La date de fin" />
          <val-errors [control]="form">
            <ng-template valError="dateRange"
              >La date de fin doit être ultérieure ou égale à la date de début</ng-template
            >
          </val-errors>
        </div>
        <div>
          <button type="submit" class="btn btn-primary me-2" id="export" [disabled]="exporting()">
            @if (exporting()) {
              <span
                id="exportingSpinner"
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
              ></span>
            } @else {
              <fa-icon [icon]="icons.download" />
            }
            Exporter
          </button>
          <!-- eslint-disable-next-line @angular-eslint/template/elements-content -->
          <a class="d-none" #downloadLink id="downloadLink"></a>
        </div>
      </form>
    </div>
  </div>
</div>
