<p>Cliquez sur la carte à l'endroit précis où le problème se situe.</p>
<div class="row">
  <div class="col-md-4 controls d-flex flex-column">
    <div class="flex-shrink-0">
      <button id="myPosition" class="btn btn-primary w-100 mb-3" (click)="markMyPosition()">
        @if (geolocating()) {
          <span
            id="geolocatingSpinner"
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
        } @else {
          <fa-icon id="myPositionIcon" [icon]="icons.locateMe" />
        }
        Ma position
      </button>
      <form class="mb-3" [formGroup]="searchForm" (ngSubmit)="search()">
        <div class="input-group">
          <label class="visually-hidden" for="location">Lieu</label>
          <input
            formControlName="location"
            id="location"
            class="form-control"
            placeholder="Rechercher"
          />
          <button class="btn btn-primary" id="search" [disabled]="searchForm.invalid">
            <fa-icon [icon]="icons.searchLocation" />
            <span class="visually-hidden">Rechercher</span>
          </button>
        </div>
      </form>
    </div>

    @if (searching() || searchResults()) {
      <div class="searchResults flex-shrink-1">
        @if (searching()) {
          <div id="searching" class="text-center">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Recherche en cours...</span>
            </div>
          </div>
        }

        @if (searchResults(); as searchResults) {
          <div id="searchResults">
            @if (searchResults.length > 0) {
              <div class="list-group">
                @for (result of searchResults; track result) {
                  <a
                    href="#"
                    class="list-group-item list-group-item-action searchResult"
                    (click)="selectCoordinates(result.coordinates, result.boundingBox, $event)"
                  >
                    {{ result.label }}
                  </a>
                }
              </div>
            } @else {
              <div>Aucun résultat</div>
            }
          </div>
        }
      </div>
    }
  </div>
  <div class="col-md-8 mt-2 mt-md-0">
    <dm-coordinates-selection-map
      [markerLocation]="markerLocation()"
      (mark)="coordinatesSelected.emit($event)"
    />
  </div>
</div>
