<p class="text-center">
  <em>{{ government().name }}</em> souhaite pouvoir vous envoyer des alertes informationnelles.
  <br />
  <strong>
    Acceptez-vous de recevoir les alertes de <em>{{ government().name }}</em
    >&nbsp;?
  </strong>
  <br />
  <span class="text-body-secondary small">
    Vous pourrez à tout moment vous désabonner/réabonner via votre page <em>Mes abonnements</em>.
  </span>
</p>
<div class="row g-3 mt-1">
  <div class="col-12 col-lg-4 offset-lg-2">
    <div class="d-grid">
      <button id="add-subscription" class="d-block btn btn-primary" (click)="subscribe()">
        Oui, je m'abonne
      </button>
    </div>
  </div>
  <div class="col-12 col-lg-4">
    <div class="d-grid">
      <button id="do-not-subscribe" class="d-block btn btn-primary" (click)="doNotSubscribe()">
        Non merci
      </button>
    </div>
  </div>
</div>
