@import '../../common';

.navbar-logo {
  max-height: 40px;
  max-width: 80px;
  @include media-breakpoint-up(sm) {
    max-width: none;
  }
}

.navbar {
  background-color: $primary;
  .nav-link {
    color: white;
  }
  .navbar-toggler {
    border-width: 0;
  }
}
