<header>
  @if (vm(); as vm) {
    <nav class="navbar navbar-expand-lg" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/" (click)="collapse()">
          @if (vm.brandingLogoUrl) {
            <img id="government-logo" [src]="vm.brandingLogoUrl" alt="" class="navbar-logo me-1" />
          }
          <img
            id="dm-logo"
            src="assets/Logo-DirectMairie-mini-notext-background-transparent.svg"
            alt=""
            class="navbar-logo me-1"
          />
          DirectMairie
        </a>
        <button
          (click)="toggle()"
          class="navbar-toggler"
          type="button"
          aria-controls="navbarContent"
          [attr.aria-expanded]="expanded()"
          aria-label="Afficher/Masquer la navigation"
        >
          <fa-icon [icon]="icons.sandwich" />
        </button>

        <div id="navbarContent" class="collapse navbar-collapse" [ngbCollapse]="!expanded()">
          <ul class="navbar-nav me-auto">
            @if (vm.atLeastGovernmentAdmin) {
              <li class="nav-item" id="navbarIssuesDropdown" ngbDropdown display="static">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  (click)="$event.preventDefault()"
                  ngbDropdownToggle
                >
                  <fa-icon [icon]="icons.issue" class="me-1" />
                  Remontées d'information</a
                >
                <div ngbDropdownMenu aria-labelledby="navbarIssuesDropdown">
                  <a
                    class="dropdown-item"
                    routerLink="/admin/issues"
                    id="navbarIssues"
                    (click)="collapse()"
                    >Visualiser les remontées d'information</a
                  >
                  <a
                    class="dropdown-item"
                    routerLink="/admin/export"
                    id="navbarIssuesExport"
                    (click)="collapse()"
                    >Exporter les remontées d'information</a
                  >
                </div>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  routerLink="/admin/notification"
                  id="navbarNotification"
                  (click)="collapse()"
                >
                  <fa-icon [icon]="icons.notification" class="me-1" />
                  Alertes
                </a>
              </li>
            }
            @if (vm.atLeastPoolingOrganizationAdmin) {
              <li class="nav-item">
                <a
                  class="nav-link"
                  routerLink="/admin/governments"
                  id="navbarGovernments"
                  (click)="collapse()"
                >
                  <fa-icon [icon]="icons.government" class="me-1" />
                  Collectivités
                </a>
              </li>
            }
            @if (vm.superAdmin) {
              <li class="nav-item">
                <a
                  class="nav-link"
                  routerLink="/admin/pooling-organizations"
                  id="navbarPoolingOrganizations"
                  (click)="collapse()"
                >
                  <fa-icon [icon]="icons.poolingOrganization" class="me-1" />
                  Mutualisants
                </a>
              </li>
            }
          </ul>

          @if (!vm.currentUser) {
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a
                  class="nav-link"
                  routerLink="/authentication"
                  id="navbarLogin"
                  (click)="collapse()"
                  >S'identifier</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  routerLink="/registration"
                  id="navbarRegister"
                  (click)="collapse()"
                  >S'inscrire</a
                >
              </li>
            </ul>
          } @else {
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" routerLink="/me" id="navbarAccount" (click)="collapse()">
                  <fa-icon [icon]="icons.currentUser" class="me-1" />
                  <span id="navbarUserName">{{ vm.userName }}</span>
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  role="button"
                  (click)="logout(); collapse()"
                  id="navbarLogout"
                  tabindex="0"
                >
                  <fa-icon [icon]="icons.logout" />
                  <span class="visually-hidden">Déconnexion</span>
                </a>
              </li>
            </ul>
          }
        </div>
      </div>
    </nav>
  }
</header>
