<html>
<body>
  <h1>Vous avez demandé à modifier votre adresse courriel sur DirectMairie...</h1>
  <p>
    Pour confirmer que vous êtes bien à l'origine de cette demande,
    copiez et collez le code suivant dans le formulaire de modification de
    votre compte&nbsp;:
  </p>
  <p style="text-align: center; font-weight: bold; font-size: 1.2rem;"><code>{{ token }}</code></p>

  <p>Si vous n'avez pas fait une telle demande, vous pouvez effacer ce courriel.</p>

  <p>L'équipe DirectMairie</p>
</body>
</html>
