Vous avez demandé à modifier votre adresse courriel sur DirectMairie...

Pour confirmer que vous êtes bien à l'origine de cette demande,
copiez et collez le code suivant dans le formulaire de modification de
votre compte :

    {{ token }}

Si vous n'avez pas fait une telle demande, vous pouvez effacer ce courriel.

--
L'équipe DirectMairie
