<div class="border rounded bg-light p-3">
  <div class="col-lg-8 offset-lg-2">
    <div class="row">
      <div class="col-md-4 text-center" style="font-size: 6rem">
        <fa-icon [icon]="icon()" />
      </div>
      <div class="col-md-8">
        <ng-content />
      </div>
    </div>
  </div>
</div>
