Bienvenue dans DirectMairie

Pour confirmer votre enregistrement dans DirectMairie, cliquer sur le lien suivant, valable 24 heures :
https://{{ host }}/registration/{{ userId }}?token={{ token }}

Si vous n'avez pas demandé à vous enregistrer dans DirectMairie, vous pouvez effacer ce courriel.

--
L'équipe DirectMairie
