<html>
  <body>
    <h1>Bienvenue dans DirectMairie</h1>
    <p>Merci de <a href="https://{{ host }}/registration/{{ userId }}?token={{ token }}">confirmer votre inscription à DirectMairie</a>
      en cliquant sur ce lien, valable 24 heures.</p>

    <p>Si vous n'avez pas demandé à vous inscrire à DirectMairie, vous pouvez effacer ce courriel.</p>

    <p>L'équipe DirectMairie</p>
  </body>
</html>
