<h1 class="visually-hidden">Mon compte</h1>

@if (currentUser(); as user) {
  <dm-account-card class="mt-4" [icon]="icons.currentUser">
    <div class="row">
      <label class="col-6 col-form-label" for="email">Adresse courriel</label>
      <div class="col form-control-plaintext" id="email">{{ user.email }}</div>
    </div>
    <div class="row">
      <label class="col-6 col-form-label" for="first-name">Prénom</label>
      <div class="col form-control-plaintext" id="first-name">{{ user.firstName }}</div>
    </div>
    <div class="row">
      <label class="col-6 col-form-label" for="last-name">Nom</label>
      <div class="col form-control-plaintext" id="last-name">{{ user.lastName }}</div>
    </div>
    <div class="row">
      <label class="col-6 col-form-label" for="phone">N° de téléphone mobile</label>
      <div class="col form-control-plaintext" id="phone">{{ user.phone }}</div>
    </div>
    @if (user.issueTransitionNotificationActivated) {
      <div id="issue-transition-notification-activated">
        <fa-icon [icon]="icons.optedIn" class="me-1" />
        Vous êtes notifié·e par courriel des changements d'état de vos remontées d'information
      </div>
    } @else {
      <div id="issue-transition-notification-activated">
        <fa-icon [icon]="icons.optedOut" class="me-1" />
        Vous n'êtes pas notifié·e par courriel des changements d'état de vos remontées d'information
      </div>
    }

    <div class="mt-3 d-grid gap-2">
      <a routerLink="edit" class="btn btn-outline-primary">
        <fa-icon [icon]="icons.edit" class="me-1" />
        Modifier
      </a>
      <a routerLink="password" class="btn btn-outline-primary">
        <fa-icon [icon]="icons.password" class="me-1" />
        Changer mon mot de passe
      </a>
      @if (accountDeletionAllowed()) {
        <a routerLink="delete" class="btn btn-outline-dark" id="delete-account">
          <fa-icon [icon]="icons.trash" class="me-1" />
          Supprimer mon compte
        </a>
      }
    </div>
  </dm-account-card>
}
