<html>
<body>
  <h1>Vous avez demandé à changer votre mot de passe DirectMairie...</h1>
  <p>Merci de <a href="https://{{ host }}/lost-password/{{ userId }}?token={{ token }}">confirmer que vous êtes bien à l'origine de cette demande</a>
    en cliquant sur ce lien, valable 24 heures.</p>
  <p>Suivez ensuite les instructions pour choisir un nouveau mot de passe.</p>

  <p>Si vous n'avez pas fait une telle demande, vous pouvez effacer ce courriel.</p>

  <p>L'équipe DirectMairie</p>
</body>
</html>
