Vous avez demandé à changer votre mot de passe DirectMairie...

Pour confirmer que vous êtes bien à l'origine de cette demande, cliquez sur le lien suivant, valable 24 heures :
https://{{ host }}/lost-password/{{ userId }}?token={{ token }}

Ensuite, suivez les instructions pour choisir un nouveau mot de passe.

Si vous n'avez pas fait une telle demande, vous pouvez effacer ce courriel.

--
L'équipe DirectMairie
