<div class="card" [class.border-primary]="selected()" [id]="'issue-' + issue().id">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col me-2">#{{ issue().id }} - {{ issue().category!.label }}</div>
      <div class="col-auto text-end">
        <div ngbDropdown placement="bottom-end" class="d-inline-block">
          <button
            class="btn btn-sm btn-outline-secondary"
            id="statusDropdown-{{ issue().id }}"
            ngbDropdownToggle
          >
            {{ issue().status | status }}
            @if (waitingForStatusUpdate()) {
              <span
                class="spinner-grow spinner-grow-sm"
                id="statusSpinner-{{ issue().id }}"
                role="status"
                aria-hidden="true"
              ></span>
            }
          </button>
          <div ngbDropdownMenu [attr.aria-labelledby]="'statusDropdown-' + issue().id">
            @for (status of listableStatuses; track status) {
              <button
                class="dropdown-item"
                [class.disabled]="status === issue().status"
                (click)="updateStatus(status)"
              >
                {{ status | status }}
              </button>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <p class="description">{{ description() }}</p>
    @if (issue().transitions.length) {
      <dm-issue-transitions [issue]="issue()" />
    }
    <div [ngbCollapse]="!expanded()" class="pictures">
      @for (picture of issue().pictures; track picture.id) {
        <div class="mb-1">
          <img
            #img
            [src]="url(picture)"
            class="img-fluid img-thumbnail mx-auto d-block"
            [alt]="'Photo créée le ' + (picture.creationInstant | date)"
            (click)="img.requestFullscreen()"
          />
        </div>
      }
    </div>
    <div class="row align-items-center">
      <div class="col me-2">
        @if (expanded()) {
          <button type="button" class="btn btn-link card-link" (click)="toggle($event)">
            Moins de détails
          </button>
        } @else {
          <button
            type="button"
            class="btn btn-link card-link"
            (click)="toggle($event)"
            [disabled]="expanded() || !expandable()"
          >
            Détails
            <span [ngPlural]="issue().pictures.length">
              <ng-template ngPluralCase="=0">(Pas de photo)</ng-template>
              <ng-template ngPluralCase="=1">(1 photo)</ng-template>
              <ng-template ngPluralCase="other"
                >({{ issue().pictures.length | number }} photos)</ng-template
              >
            </span>
          </button>
        }
      </div>
      <div class="col-auto text-end">
        <ng-template #deletionConfirmationTemplate>
          <p>
            Cette opération est <strong>irréversible</strong>, et fera disparaître la remontée de
            l'historique des remontées de l'utilisateur.<br />
            Voulez-vous vraiment supprimer cette remontée d'information&nbsp;?
          </p>
        </ng-template>
        <button
          type="button"
          class="btn btn-sm btn-outline-danger delete-button"
          (click)="deleteIssue(deletionConfirmationTemplate)"
        >
          <fa-icon [icon]="icons.trash" />
          Supprimer
        </button>
      </div>
    </div>
  </div>
  <div class="card-footer text-body-secondary bg-transparent">
    <div class="row">
      <small class="col-md-5">{{ issue().creationInstant | date: 'medium' }}</small>
      <small class="col-md-7 text-md-end"
        >{{ issue().coordinates.latitude }}, {{ issue().coordinates.longitude }}</small
      >
    </div>
  </div>
</div>
