<h1>Mutualisants</h1>

<form [formGroup]="form" (ngSubmit)="search()" class="mb-4">
  <label class="visually-hidden" for="query">Nom</label>
  <div class="input-group">
    <input formControlName="query" class="form-control" id="query" placeholder="Rechercher" />
    <button id="search" class="btn btn-primary">Rechercher</button>
  </div>
</form>

<div class="text-end mb-3">
  <a routerLink="new" class="btn btn-sm btn-outline-secondary">
    <fa-icon [icon]="icons.add" class="me-1" />
    Nouveau mutualisant
  </a>
</div>

@for (organization of organizations(); track organization.id) {
  <div [class.border-bottom]="!$last">
    <div class="row align-items-baseline py-2 organization-item">
      <div class="col">
        <a [routerLink]="[organization.id]">{{ organization.name }}</a>
      </div>
      <div class="col-2 text-end">
        <a [routerLink]="[organization.id]">
          <fa-icon [icon]="icons.view" />
        </a>
      </div>
    </div>
  </div>
}
