// override default shadows behavior
$enable-shadows: true;

// use the main blue as the primary color
$primary: rgb(1, 82, 140);

// increase the contrast for a11y
$body-secondary-color: #495057; // same value as $gray-700, but $gray-700 is not yet defined

// disable link decoration
$link-decoration: none;

$body-bg-dark: darken($primary, 5%);
$body-tertiary-bg-dark: darken($primary, 10%);

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/utilities';
