@import 'leaflet/dist/leaflet.css';
@import './custom-bootstrap';

.invalid-feedback {
  display: block;
}

dm-coordinates-selection-map {
  .leaflet-top.leaflet-right {
    position: relative;
  }

  .marker-location {
    @extend .border;
    @extend .rounded;
    @extend .bg-white;
    @extend .p-1;
    max-width: 75%;
  }
}

[ngbDatepickerDayView] {
  box-shadow: none;
}

img.logo {
  max-width: 256px;
  max-height: 256px;
}

.leaflet-marker-icon.created {
  color: $gray-700;
}

.leaflet-marker-icon.resolved {
  color: $green;
}

.leaflet-marker-icon.rejected {
  color: $red;
}

code {
  word-break: break-all;
}
