<h1>Changer mon mot de passe</h1>

<dm-account-card [icon]="icons.currentUser">
  <form [formGroup]="form" (ngSubmit)="save()">
    <dm-required-fields-message />
    <div class="mb-3">
      <label class="form-label" for="current-password" dmRequired>Mot de passe actuel</label>
      <input
        type="password"
        formControlName="currentPassword"
        class="form-control"
        id="current-password"
      />
      <val-errors controlName="currentPassword" label="Le mot de passe actuel">
        <ng-template valError="required">
          Votre mot de passe actuel est requis pour pouvoir modifier vos informations personnelles
        </ng-template>
      </val-errors>
    </div>
    <div class="mb-3">
      <label class="form-label" for="new-password" dmRequired>Nouveau mot de passe</label>
      <input type="password" formControlName="password" class="form-control" id="new-password" />
      <val-errors controlName="password" label="Le nouveau mot de passe" />
    </div>
    <div class="mb-3">
      <label class="form-label" for="password-confirmation" dmRequired>
        Confirmation du nouveau mot de passe
      </label>
      <input
        type="password"
        formControlName="passwordConfirmation"
        class="form-control"
        id="password-confirmation"
      />
      <val-errors controlName="passwordConfirmation" label="La confirmation du mot de passe" />
      <val-errors [control]="form">
        <ng-template valError="passwordsMatch">
          Les deux mots de passe ne sont pas identiques
        </ng-template>
      </val-errors>
    </div>

    <div class="d-grid gap-2 d-md-block">
      <button class="btn btn-primary me-md-2" id="save">Enregistrer</button>
      <a id="cancel" routerLink="/me" class="btn btn-danger">Annuler</a>
    </div>
    @if (error()) {
      <div class="mt-1 invalid-feedback">
        @if (error() === 'INCORRECT_PASSWORD') {
          Le mot de passe est incorrect
        }
      </div>
    }
  </form>
</dm-account-card>
