@for (status of allStatuses; track status) {
  <div class="form-check form-check-inline">
    <input
      type="checkbox"
      class="form-check-input"
      id="status-{{ status }}"
      [checked]="isStatusSelected(status)"
      (change)="selectStatus(status)"
    />
    <label class="form-check-label" for="status-{{ status }}">{{ status | status }}</label>
  </div>
}
