@if (vm(); as vm) {
  <div>
    @switch (vm.mode) {
      @case ('create') {
        <h1>Créer un mutualisant</h1>
      }
      @case ('update') {
        <h1>
          Modifier le mutualisant <em>{{ vm.editedOrganization!.name }}</em>
        </h1>
      }
    }

    <form [formGroup]="form" (ngSubmit)="save()">
      <dm-required-fields-message />
      <div class="mb-3">
        <label class="form-label" for="name" dmRequired>Nom</label>
        <input formControlName="name" id="name" class="form-control" />
        <val-errors controlName="name" label="Le nom" />
      </div>

      <h2 class="mt-4 d-flex align-items-center">Administrateurs</h2>
      <p class="text-body-secondary small">
        Ces administrateurs ont le droit de créer de nouvelles collectivités, et de configurer les
        collectivités de ce mutualisant.
      </p>

      <!-- Search admin by email -->
      <div class="mb-3">
        <dm-user-selector [(users)]="vm.admins" />
      </div>

      <div class="mt-2 mb-5">
        <button id="save" class="btn btn-primary me-2">Enregistrer</button>
        <a id="cancel" routerLink=".." class="btn btn-danger">Annuler</a>
      </div>
    </form>
  </div>
}
