<h1 class="visually-hidden">Mes abonnements</h1>

@if (subscriptions(); as subscriptions) {
  <dm-account-card class="mt-4" [icon]="icons.subscriptions">
    @if (subscriptions.length) {
      <div>
        <p>
          Vous recevrez par courriel les alertes envoyées par les collectivités suivantes&nbsp;:
        </p>
        <ul class="list-group">
          @for (subscription of subscriptions; track subscription.id) {
            <li class="list-group-item">
              <div class="row gx-3 align-items-center">
                <div class="col">{{ subscription.government.name }}</div>
                <div class="col-auto">
                  <button
                    class="btn btn-sm btn-danger unsubscribe"
                    (click)="deleteSubscription(subscription)"
                  >
                    <fa-icon [icon]="icons.trash" />
                    <span class="visually-hidden">
                      Me désabonner à {{ subscription.government.name }}
                    </span>
                  </button>
                </div>
              </div>
            </li>
          }
        </ul>
      </div>
    } @else {
      <p id="no-subscription">Vous ne recevrez par courriel d'alertes d'aucune collectivité.</p>
    }

    <h2 class="mt-4 fs-5">Ajouter un abonnement</h2>
    <div class="mb-3">
      <label class="form-label" for="subscription-suggestion">à la collectivité</label>
      <input
        id="subscription-suggestion"
        class="form-control"
        [formControl]="suggestionCtrl"
        [ngbTypeahead]="subscriptionTypeahead"
        [resultFormatter]="governmentFormatter"
        [inputFormatter]="governmentFormatter"
        (selectItem)="addSubscription($event)"
        placeholder="Saisissez le nom de la collectivité"
      />
    </div>
  </dm-account-card>
}
