<div class="row">
  @for (picture of pictures(); track picture) {
    <div class="col-sm-6 col-md-4 mb-2 picture">
      <div class="card">
        <div class="card-img-top">
          @if (picture.display().displayPicture) {
            <img
              [src]="url(picture)"
              alt="'Photo créée le ' + {{ picture.picture!.creationInstant | date }}"
            />
          } @else {
            <div class="d-flex justify-content-center">
              <div class="align-self-center w-75">
                @if (picture.display().displayPlaceholder) {
                  <button
                    [disabled]="editing()"
                    type="button"
                    id="uploadButton"
                    class="btn btn-outline-secondary d-block w-100"
                    (click)="pictureFileInput.click()"
                  >
                    <fa-icon [icon]="icons.uploadPicture" size="5x" />
                    <br />
                    Prendre / Choisir une photo...
                  </button>
                }

                @if (picture.display().displayProgress) {
                  <ngb-progressbar
                    type="success"
                    [striped]="picture.display().progressIndeterminate"
                    [animated]="picture.display().progressIndeterminate"
                    [value]="picture.progress()"
                  />
                }
              </div>
            </div>
          }
        </div>
        <div class="card-body py-2 d-flex justify-content-end align-items-center">
          @if (picture.display().displayDeleteButton) {
            <div>
              <button
                type="button"
                class="btn btn-danger deleteButton"
                (click)="delete(picture)"
                [disabled]="editing()"
              >
                @if (!picture.display().displayDeleteSpinner) {
                  <fa-icon [icon]="icons.trash" />
                } @else {
                  <span
                    class="spinner-border spinner-border-sm"
                    role="status"
                    aria-hidden="true"
                  ></span>
                }
                <span class="visually-hidden">Supprimer la photo</span>
              </button>
            </div>
          }
        </div>
      </div>
    </div>
  }
</div>

<input
  type="file"
  accept=".gif,.jpg,.jpeg,.png"
  class="d-none"
  (change)="upload($event)"
  #pictureFileInput
/>
