@import '../../../common';

.card-img-top {
  display: block;
  height: 220px;
  position: relative;
  background-color: $gray-100;

  > img,
  > div {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

.card-body {
  height: 4rem;
}
