<h1>Supprimer mon compte</h1>

<dm-account-card [icon]="icons.currentUser">
  <form [formGroup]="form" (ngSubmit)="delete()">
    <div class="alert alert-warning">
      <div class="d-flex gap-4">
        <div><fa-icon [icon]="icons.warning" size="3x" /></div>
        <div class="flex-grow-1">
          La suppression de votre compte est définitive et irréversible.<br />
          Supprimer votre compte anonymisera toutes vos remontées d'information et supprimera toutes
          vos informations personnelles.
        </div>
      </div>
    </div>

    <dm-required-fields-message />
    <div class="mb-3">
      <label class="form-label" for="password" dmRequired>Mot de passe</label>
      <input type="password" formControlName="password" class="form-control" id="password" />
      <val-errors controlName="password" label="Le mot de passe">
        <ng-template valError="required">
          Votre mot de passe est requis pour pouvoir supprimer votre compte
        </ng-template>
      </val-errors>
    </div>

    <div class="d-grid gap-2 d-md-block">
      <button class="btn btn-danger me-md-2" id="delete">Supprimer mon compte</button>
      <a id="cancel" routerLink="/me" class="btn btn-primary">Annuler</a>
    </div>
    @if (error()) {
      <div class="mt-1 invalid-feedback">
        @if (error() === 'INCORRECT_PASSWORD') {
          Le mot de passe est incorrect
        }
      </div>
    }
  </form>
</dm-account-card>
