<h1>Mon compte</h1>

@if (editedUser()) {
  <dm-account-card [icon]="icons.currentUser">
    <dm-required-fields-message />
    @switch (status()) {
      @case ('account') {
        <form [formGroup]="form" (ngSubmit)="saveOrRequestToken()">
          <div class="mb-3">
            <label class="form-label" for="email" dmRequired>Adresse courriel</label>
            <input formControlName="email" class="form-control" id="email" />
            <small id="emailHelp" class="form-text text-body-secondary">
              Nous ne divulguons cette adresse à personne
            </small>
            <val-errors controlName="email" label="L'adresse courriel" />
          </div>
          <div class="mb-3">
            <label class="form-label" for="first-name">Prénom</label>
            <input formControlName="firstName" class="form-control" id="first-name" />
          </div>
          <div class="mb-3">
            <label class="form-label" for="last-name">Nom</label>
            <input formControlName="lastName" class="form-control" id="last-name" />
          </div>
          <div class="mb-3">
            <label class="form-label" for="phone">N° de téléphone mobile</label>
            <input formControlName="phone" class="form-control" id="phone" />
            <small class="form-text text-body-secondary">
              Si vous nous fournissez votre numéro, la collectivité chargée de gérer vos remontées
              d'information pourra vous informer de l'avancement par SMS, ou vous recontacter pour
              plus d'informations.
            </small>
          </div>
          <div class="mb-3">
            <div class="form-check form-switch">
              <input
                formControlName="issueTransitionNotificationActivated"
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="issue-transition-notification-activated"
              />
              <label class="form-check-label" for="issue-transition-notification-activated"
                >Je désire être notifié·e par courriel des changements d'état de mes remontées
                d'information</label
              >
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="current-password" dmRequired>Mot de passe actuel</label>
            <input
              type="password"
              formControlName="currentPassword"
              class="form-control"
              id="current-password"
            />
            <val-errors controlName="currentPassword" label="Le mot de passe actuel">
              <ng-template valError="required">
                Votre mot de passe actuel est requis pour pouvoir modifier vos informations
                personnelles
              </ng-template>
            </val-errors>
          </div>
          <div class="d-grid gap-2 d-md-block">
            <button class="btn btn-primary me-md-2" id="save">Enregistrer</button>
            <a id="cancel" routerLink="/me" class="btn btn-danger">Annuler</a>
          </div>
          @if (error()) {
            <div class="mt-1 invalid-feedback">
              @if (error() === 'EMAIL_ALREADY_USED') {
                L'adresse courriel est déjà utilisée par un autre utilisateur
              }
              @if (error() === 'INCORRECT_PASSWORD') {
                Le mot de passe est incorrect
              }
            </div>
          }
        </form>
      }
      @case ('token') {
        <form [formGroup]="tokenForm" (ngSubmit)="saveWithToken()">
          <div class="alert alert-info">
            <div class="d-flex gap-4">
              <div><fa-icon [icon]="icons.emailSent" size="3x" /></div>
              <div class="flex-grow-1">
                <p>Ce n'est pas tout à fait terminé&nbsp;!</p>
                <p>
                  Afin de vérifier que vous êtes bien son possesseur, nous avons envoyé un courriel
                  de vérification à l'adresse <code>{{ form.value.email }}</code
                  >.
                </p>
                <p>
                  Copiez et collez ci-dessous le code secret qu'il contient afin d'enregistrer les
                  changements.
                </p>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="email" dmRequired>Code de vérification</label>
            <input formControlName="token" class="form-control" id="token" />
            <val-errors controlName="token" label="Le code de vérification" />
          </div>
          <div class="d-grid gap-2 d-md-block">
            <button class="btn btn-primary me-md-2" id="save">Enregistrer</button>
            <a id="cancel" routerLink="/me" class="btn btn-danger">Annuler</a>
          </div>
          @if (error()) {
            <div class="mt-1 invalid-feedback">
              @if (error() === 'EMAIL_ALREADY_USED') {
                L'adresse courriel est déjà utilisée par un autre utilisateur
              }
              @if (error() === 'INCORRECT_PASSWORD') {
                Le mot de passe est incorrect
              }
              @if (error() === 'INVALID_EMAIL_MODIFICATION_TOKEN') {
                Le code de vérification est incorrect
              }
            </div>
          }
        </form>
      }
    }
  </dm-account-card>
}
