<div>
  @switch (status()) {
    @case ('UNKNOWN') {
      <div class="text-center">
        <h1 class="visually-hidden">Enregistrement en cours</h1>
        <div class="spinner-border text-primary" role="status" id="spinner">
          <span class="visually-hidden">Confirmation en cours...</span>
        </div>
      </div>
    }
    @case ('REGISTERED') {
      <div class="row">
        <h1 class="visually-hidden">Enregistrement confirmé</h1>
        <div class="col col-md-8 offset-md-2">
          <div class="alert alert-success d-flex mb-4" id="registered">
            <fa-icon [icon]="icons.registered" size="3x" class="me-4" />
            <div class="flex-grow-1">
              Votre inscription est désormais confirmée.<br />
              Bienvenue!
            </div>
          </div>
          @if (suggestedSubscriptionGovernment(); as government) {
            <dm-subscription-after-submission
              [government]="government"
              (done)="subscriptionDone()"
            />
          }
        </div>
      </div>
    }
    @case ('INVALID_TOKEN') {
      <div class="alert alert-danger d-flex" id="invalidToken">
        <h1 class="visually-hidden">Erreur</h1>
        <fa-icon [icon]="icons.error" size="3x" class="me-4" />
        <div class="flex-grow-1">
          Le lien d'inscription n'est pas ou plus valide.<br />
          Si vous êtes déjà inscrit,
          <a routerLink="/authentication">veuillez vous identifier</a>.<br />
          Si vous êtes n'êtes pas inscrit,
          <a routerLink="/registration">veuillez demander un nouveau lien d'inscription</a>.<br />
        </div>
      </div>
    }
  }
</div>
