@if (vm(); as vm) {
  <div class="modal-header">
    <h1 class="fs-4 modal-title" id="issue-transition-modal-title">
      Changement d'état de la remontée
    </h1>
    <button
      type="button"
      class="btn-close"
      aria-label="Fermer"
      (click)="activeModal.dismiss()"
    ></button>
  </div>
  <div class="modal-body">
    <p>Confirmez-vous le changement d'état de la remontée d'information&nbsp;?</p>
    <div class="text-center">
      <dm-issue-status [status]="vm.issue.status" />
      &rightarrow;
      <dm-issue-status [status]="vm.newStatus" />
    </div>
    <form [formGroup]="form" (ngSubmit)="close()" id="transition-form">
      <div class="mb-3">
        <label class="form-label" for="message">Commentaire</label>
        <textarea
          rows="3"
          class="form-control"
          id="message"
          formControlName="message"
          ngbAutofocus
        ></textarea>
        <div class="form-text">
          Ce message apparaîtra dans l'historique de la remontée d'information et sera visible par
          l'utilisateur qui l'a créée.
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" form="transition-form" class="btn btn-primary" id="confirm">
      Confirmer
    </button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Annuler</button>
  </div>
}
