@if (government(); as government) {
  <div>
    <h1>Collectivité {{ government.name }}</h1>

    <div class="row align-items-center">
      <div class="col-md-8">
        <div class="row">
          <!-- eslint-disable-next-line @angular-eslint/template/label-has-associated-control -->
          <label class="col-4 col-form-label">SIREN</label>
          <p class="col form-control-plaintext" id="code">{{ government.code }}</p>
        </div>
        <div class="form-group row my-0">
          <!-- eslint-disable-next-line @angular-eslint/template/label-has-associated-control -->
          <label class="col-4 col-form-label">Identifiant OpenStreetMap (osm id)</label>
          <p class="col form-control-plaintext" id="osmId">
            <a
              [href]="'https://www.openstreetmap.org/relation/' + government.osmId"
              target="openstreetmap"
              >{{ government.osmId }}</a
            >
          </p>
        </div>
        <div class="row">
          <!-- eslint-disable-next-line @angular-eslint/template/label-has-associated-control -->
          <label class="col-4 col-form-label">URL</label>
          @if (government.url) {
            <p class="col form-control-plaintext" id="url">
              <a [href]="government.url">{{ government.url }}</a>
            </p>
          }
        </div>
      </div>
      <div class="col-md-4 d-flex flex-column align-items-center">
        @if (logoUrl(); as url) {
          <img id="logo" class="logo d-block mb-2" [alt]="government.name" [src]="url" />
        } @else {
          <fa-icon
            id="noLogo"
            [icon]="icons.noLogo"
            size="10x"
            class="text-body-secondary d-block"
          />
        }

        <div>
          <button
            type="button"
            id="uploadLogo"
            class="btn btn-outline-secondary btn-sm"
            (click)="logoFileInput.click()"
          >
            <fa-icon [icon]="icons.uploadLogo" class="me-1" />
            @if (government.logo) {
              <span>Changer le logo</span>
            } @else {
              <span>Choisir le logo</span>
            }
          </button>

          @if (government.logo) {
            <button
              type="button"
              id="deleteLogo"
              class="ms-2 btn btn-danger btn-sm"
              (click)="deleteLogo()"
            >
              <fa-icon [icon]="icons.trash" />
              <span class="visually-hidden">Supprimer le logo</span>
            </button>
          }

          <input
            type="file"
            accept=".gif,.jpg,.jpeg,.png,.svg"
            class="d-none"
            (change)="uploadLogo($event)"
            #logoFileInput
          />
        </div>
        @if (logoTooLarge()) {
          <div id="tooLargeLogo" class="text-danger small mt-2">
            <fa-icon [icon]="icons.error" class="me-1" />
            L'image choisie est trop grande. Veuillez redimensionner l'image afin qu'elle ait une
            largeur et une hauteur de maximum
            {{ maxLogoSize | number }} pixels.
          </div>
        }
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-6 col-lg-4">
        <h2>Administrateurs</h2>
        <p class="text-body-secondary small">
          Ces administrateurs ont le droit de consulter et gérer les remontées d'information
          assignées à cette mutualité.
        </p>

        <ul class="list-unstyled ms-4">
          @for (administrator of government.administrators; track administrator.id) {
            <li class="administrator-item">
              <fa-icon [icon]="icons.administrator" class="me-1" />
              <a [href]="'mailto:' + administrator.email">{{ administrator.email }}</a>
            </li>
          }
        </ul>
      </div>

      <div class="col-md-6 col-lg-4">
        <h2>Catégories d'information</h2>
        <p class="text-body-secondary small">
          Seules ces catégories d'information sont gérées par cette collectivité.
        </p>
        <ul class="list-unstyled ms-4">
          @for (group of government.issueGroups; track group.id) {
            <li class="group-item">
              <fa-icon [icon]="icons.issueGroup" class="me-1" />
              {{ group.label }}
              <ul class="list-unstyled ms-4">
                @for (category of group.categories; track category.id) {
                  <li class="category-item">
                    <fa-icon [icon]="icons.issueCategory" class="me-1" />
                    {{ category.label }}
                  </li>
                }
              </ul>
            </li>
          }
        </ul>
      </div>

      <div class="col-md-6 col-lg-4">
        <h2>Contacts</h2>
        <p class="text-body-secondary small">
          Un courriel sera envoyé aux destinataires suivants en fonction du groupe de la catégorie
          d'information.
        </p>
        <ul class="list-unstyled ms-4">
          @for (contact of government.contacts; track contact) {
            <li class="contact-item">
              <fa-icon [icon]="icons.contactEmail" class="me-1" />
              {{ contact.issueGroup.label }}&nbsp;:&ngsp;
              <a [href]="'mailto:' + contact.email">{{ contact.email }}</a>
            </li>
          }
        </ul>
        <p class="text-body-secondary small">
          Un courriel sera envoyé au destinataire suivant si la remontée d'information n'appartient
          à aucune des catégories ci-dessus.
        </p>
        <p class="ms-4">
          <fa-icon [icon]="icons.contactEmail" class="me-1" />
          Contact par défaut&nbsp;:
          <a [href]="'mailto:' + government.contactEmail" id="contactEmail">{{
            government.contactEmail
          }}</a>
        </p>
      </div>
    </div>

    <a [routerLink]="['edit']" class="btn btn-outline-secondary">
      <fa-icon [icon]="icons.edit" class="me-1" />
      Modifier
    </a>
  </div>
}
